# private IP for master DNS server
export MASTER_IP=""

# private IP for slave DNS server
export SLAVE_IP=""

# e.g. "example.com"
export BASE_DOMAIN=""

# e.g. "k8s"
# this will result in the zone subdomain of k8s.example.com
export ZONE_SUBDOMAIN=""

# subdomain you will use for k8s API e.g. "cl01-api"
# this in the API having the url: cl01-api.k8s.example.com
export API_SUBDOMAIN=""

# DNS name for K8s API load balancer
export API_ELB=""

# IPs of upstream DNS to add to allow-query
# Separate by semicolon and space
# e.g. "10.0.0.1; 10.0.0.2;"
export UPSTREAM_DNS=""

# AWS DNS IP to forward DNS requests for ELB to
export FORWARDER=""

