# e.g. example.com
export DOMAIN_NAME=""

# private IP for master DNS server
export MASTER_IP=""

# private IP for slave DNS server
export SLAVE_IP=""

# subdomain you will use for k8s API
export SUBDOMAIN=""

# DNS name for K8s API load balancer
export API_ELB=""

# IP of jump box from which DNS queries will be sent
# will also accept a CIDR if preferred
export JUMP_IP=""

